<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="test with space" value="https://nuget.contoso.com/v3/index.json" />
    <add key="test-without-space" value="https://nuget.contoso.com/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="disabled-source" value="true" />
  </disabledPackageSources>
</configuration>
